<button id="logout">Logout</button>

<script>
  import { actions } from "astro:actions";

  document.getElementById("logout")?.addEventListener("click", async () => {
    const { data, error } = await actions.account.logout();
    console.log(data, error)
  })
  </script>
