---
import Navbar from "../layouts/nav.astro";
---

<Navbar>
  <div class="h-half flex justify-center items-end">
    <a
      class="flex items-center justify-center rounded-3xl m-2 bg-nav-bg font-rubik text-7xl text-center text-title-blue w-buttonr h-32 hover:text-white hover:bg-darker-blue no-underline"
      href="/search"
    >
      Search Freely
    </a>
  </div>
  <footer class="fixed bottom-0 left-5 p-1 space-x-3">
    <a
      class="text-xl font-poppins text-white hover:text-darker-blue no-underline"
      href="/credits"
    >
      Credits
    </a>
    <a
      class="text-xl font-poppins text-white hover:text-darker-blue no-underline"
      href="https://github.com/NXWeb-Group/Supernova-V2.git"
      >Github
    </a>
  </footer>
</Navbar>