<input id="user" type="text" placeholder="user" />
<input id="passwd" type="text" placeholder="password" />
<button id="submit">Submit</button>

<script>
  const { signIn, signOut } = await import("auth-astro/client");

  document.getElementById("submit").addEventListener("click", (e) => {
    e.preventDefault();
    const user = document.getElementById("user").value;
    const password = document.getElementById("passwd").value;
    const credentials = { user: user, password: password };
    console.log(credentials); // Log the credentials object
    signIn("credentials", credentials)
      .then((response) => {
        console.log(response);
      })
      .catch((error) => {
        console.error(error);
      });
  });
</script>
