<script>
  import { dotSpinner } from "ldrs";
  dotSpinner.register();
</script>

<div class="fixed inset-0 flex justify-center items-center">
  <l-dot-spinner size="120" speed="1" color="white"></l-dot-spinner>
</div>
